body {
  background: #F2F2F2;
}
.header {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}
.header .header_top {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
.header .header_top span,
.header .header_top a {
  font-size: 12px;
  color: #999;
  line-height: 36px;
  margin: 0 34px 0 0;
}
.header .header_home {
  width: 100%;
  height: 80px;
  background: #388BE8;
}
.header .header_home div {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  
}
.header .header_home div h3 {
  font-size: 30px;
  line-height: 80px;
  color: #ffffff;
  float: left;
  margin-right: 32px;
}
.header .header_home div p {
  font-size: 20px;
  line-height: 86px;
  color: #FFFFFF;
  float: left;
}
.header .header_home span{
	font-size: 14px;
	line-height: 80px;
	color: #FFFFFF;
	float: right;
}
.content_home {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.content_leftbar {
  width: 200px;
  height: 400px;
  background: #FFFFFF;
  padding-top: 10px;
}
.content_leftbar h4 {
  line-height: 42px;
  font-size: 14px;
  color: #333333;
  text-indent: 34px;
}
.content_leftbar ul {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_leftbar ul li {
  width: 100%;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
}
.content_leftbar ul li a {
  color: #333333;
}
.content_leftbar ul li:hover {
  background: #D5E9FF;
}
.content_leftbar ul li:hover a {
  color: #5699EB;
}
.content_leftbar ul .active_style {
  background: #D5E9FF;
}
.content_leftbar ul .active_style a {
  color: #5699EB;
}
.content_home .content_rightbar {
  width: 980px;
  overflow: hidden;
  margin-left: 20px;
}
.content_home .content_rightbar .piece_head {
  width: 100%;
  height: 140px;
  background: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
}
.content_home .content_rightbar .piece_head .left {
  width: 296px;
  height: 100%;
  border-right: 1px solid #F2F2F2;
}
.content_home .content_rightbar .piece_head .left .icon_head {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 6px;
  margin-right: 20px;
}
.content_home .content_rightbar .piece_head .left .icon_head img {
  width: 100%;
  height: 100%;
}
.content_home .content_rightbar .piece_head .left ul {
  float: left;
}
.content_home .content_rightbar .piece_head .left ul li {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
}
.content_home .content_rightbar .piece_head .left ul li:first-child {
  line-height: 42px;
  font-size: 14px;
}
.content_home .content_rightbar .piece_head .right {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.content_home .content_rightbar .piece_head .right li {
  width: 50%;
  height: 100%;
}
.content_home .content_rightbar .piece_head .right li p {
  font-size: 14px;
  margin-bottom: 24px;
  color: #333333;
  text-indent: 100px;
}
.content_home .content_rightbar .piece_head .right li span {
  font-size: 20px;
  margin-bottom: 12px;
  color: #388BE8;
  text-align: center;
  display: block;
}
.content_home .content_rightbar .piece_head .right li a {
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.content_home .content_rightbar .piece_head .right li .border_a {
  border: 1px solid #999999;
  border-radius: 4px;
  width: 42px;
  height: 22px;
}
.content_home .content_rightbar .grxinxi {
  width: 100%;
  height: 232px;
  background: #FFFFFF;
  margin-top: 20px;
}
.content_home .content_rightbar .grxinxi h4 {
  font-size: 16px;
  line-height: 50px;
  color: #333333;
  text-indent: 18px;
}
.content_home .content_rightbar .grxinxi ul {
  width: 33%;
  float: left;
}
.content_home .content_rightbar .grxinxi ul li {
  font-size: 12px;
  color: #333333;
  line-height: 40px;
  width: 100%;
  height: 40px;
}
.content_rightbar .grxinxi ul li p{
	margin-left: 40px;
	width: 70px;
	height: 40px;
	float: left;
	text-align: right;
	white-space:nowrap;
}
.content_rightbar .record{
	width: 100%;
  min-height: 232px;
  background: #FFFFFF;
  margin-top: 20px;
  padding-bottom: 20px;
}
.content_rightbar .record h4{
	font-size: 16px;
  line-height: 50px;
  color: #333333;
  text-indent: 18px;
}
.content_rightbar .record table{
	width: 900px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.content_rightbar .record table th{
	background: #F5F5F5;
	height: 30px;
	line-height: 30px;
	color: #333333;
}
.content_rightbar .record table td{
	min-height: 30px;
	line-height: 30px;
	color: #333333;
	border-bottom: 1px solid #F5F5F5;
}

/*shade 遮罩层*/
.shade_box{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
}

.shade{
		width: 790px;
		height: 600px;
		background: #FFFFFF;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
}
.shade_head{
	width: 100%;
	height: 40px;
	background: #F5F5F5;
	line-height: 40px;
	
}
.shade_head p{
	font-size: 14px;
	color: #333333;
	text-indent: 15px;
	float: left;
}
.shade_head span{
	float: right;
	padding: 4px;
	height: 12px;
	width: 12px;
	float: right;
	margin-right: 10px;
	margin-top: 12px;
	cursor: pointer;
	
}
.shade_head span img{
	width: 100%;
	height: 100%;
	display: block;
}
.shade_head span:hover{
	background: rgba(0,0,0,0.1);
}
.shade_cont{
	width: 350px;
	height: auto;
	overflow: hidden;
	margin: 20px auto 0;
}
.shade_cont li{
	width: 100%;
	height: 28px;
	margin-top: 8px;
	line-height: 28px;
}
.shade_cont li p{
	float: left;
	width: 140px;
	margin-right: 10px;
	text-align: right;
	font-size: 14px;
	color: #333333;
	
}
.shade_cont li span{
	font-size: 14px;
	color: #333;
}
.shade_cont li input{
	width: 198px;
	height: 26px;
	border: 1px solid #CCCCCC;
}
.shade_cont .margin_t{
	margin-top: 20px !important; 
}
 .shade_cont button{
    width: 100px;
    height: 30px;
    border: none;
    background: #388BE8;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 32px;
    cursor: pointer;
}





/*# sourceMappingURL=public.css.map */
